*.sw?
*.class
.clj-kondo/
.lsp/
.vscode/perl-lang/
venv/
node_modules/
__pycache__/

# prevent committing personalized input files
**/input.txt
2020-rust/inputs/
2021-python/inputs/**/input*

# opt-in to commit input files where it is ok
!codyssi/**/input.txt
!i18n-puzzles/**/input.txt
!templates/**/input.txt
