/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

# allow input.txt in resources (which is only a symlink, not real data):
!resources/input.txt
