name: Test Solutions

on:
  push:
  pull_request:
  schedule:
    # run every night at 2:42 UTC (3:42/4:42 German time)
    - cron: '42 3 * * *'

jobs:
  check-changes:
    runs-on: ubuntu-latest

    outputs:
      any-changes: ${{ steps.git-diff-check.outputs.any-changes }}
      changes-2015: ${{ steps.git-diff-check.outputs.changes-2015 }}
      changes-2016: ${{ steps.git-diff-check.outputs.changes-2016 }}
      changes-2017: ${{ steps.git-diff-check.outputs.changes-2017 }}
      changes-2020: ${{ steps.git-diff-check.outputs.changes-2020 }}
      changes-2021: ${{ steps.git-diff-check.outputs.changes-2021 }}
      changes-2022: ${{ steps.git-diff-check.outputs.changes-2022 }}
      changes-2023: ${{ steps.git-diff-check.outputs.changes-2023 }}
      changes-2024: ${{ steps.git-diff-check.outputs.changes-2024 }}
      changes-ci: ${{ steps.git-diff-check.outputs.changes-ci }}
      changes-scripts: ${{ steps.git-diff-check.outputs.changes-scripts }}
      changes-vim: ${{ steps.git-diff-check.outputs.changes-vim }}
      changes-codyssi: ${{ steps.git-diff-check.outputs.changes-codyssi }}
      changes-i18n: ${{ steps.git-diff-check.outputs.changes-i18n }}
      changes-everybody-codes: ${{ steps.git-diff-check.outputs.changes-everybody-codes }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check Git changes
        id: git-diff-check
        run: ./scripts/check-git-changes.sh ${{ github.sha }}

  test-solutions:
    runs-on: ubuntu-latest
    container: ghcr.io/yogan/yogans-advent-of-code:latest

    needs: check-changes
    if: ${{ github.event.schedule || needs.check-changes.outputs.any-changes != '0' }}

    env:
      AOC_SESSION: ${{ secrets.AOC_SESSION }}
      I18N_SESSION: ${{ secrets.I18N_SESSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Mark workspace as safe for git clean
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Prepare Haskell environment
        run: ./scripts/haskell-prepare.sh

      - name: Increase disk space by deleting unnecessary stuff
        run: |
          df -h | grep root | awk '{print $4}'
          rm -rf /__t/CodeQL /__t/Python /__t/PyPy /__t/node /__t/go /__t/Ruby
          df -h | grep root | awk '{print $4}'

      - name: Test solutions for 2015
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2015 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 2015
          ./scripts/cleanup.sh

      - name: Test solutions for 2016
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2016 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 2016
          ./scripts/cleanup.sh

      - name: Test solutions for 2017
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2017 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 2017
          ./scripts/cleanup.sh

      - name: Test solutions for 2020
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2020 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./2020-rust/test-ci.sh
          ./scripts/cleanup.sh

      - name: Test solutions for 2021
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2021 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./2021-python/test-ci.sh
          ./scripts/cleanup.sh

      - name: Test solutions for 2022
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2022 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 2022
          ./scripts/cleanup.sh

      - name: Test solutions for 2023
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2023 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 2023
          ./scripts/cleanup.sh

      - name: Test solutions for 2024
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-2024 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 2024
          ./scripts/cleanup.sh

      - name: Test Vim solutions
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-vim != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-vim.sh
          ./scripts/cleanup.sh

      - name: Test Codyssi solutions
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-codyssi != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 'codyssi/2025'
          ./scripts/cleanup.sh

      - name: Test i18n puzzles solutions
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-i18n != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 'i18n-puzzles/2025'
          ./scripts/cleanup.sh

      - name: Test Everybody Codes solutions
        if: ${{ github.event.schedule || needs.check-changes.outputs.changes-everybody-codes != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}
        run: |
          ./scripts/test-days.sh 'everybody-codes/2025'
          ./scripts/cleanup.sh
