name: Test Solutions

on:
  push:
  pull_request:
  schedule:
    # run every night at 2:42 UTC (3:42/4:42 German time)
    - cron: '42 3 * * *'

jobs:
  check-changes:
    runs-on: ubuntu-latest

    outputs:
      any-changes: ${{ steps.git-diff-check.outputs.any-changes }}
      changes-2015: ${{ steps.git-diff-check.outputs.changes-2015 }}
      changes-2016: ${{ steps.git-diff-check.outputs.changes-2016 }}
      changes-2017: ${{ steps.git-diff-check.outputs.changes-2017 }}
      changes-2020: ${{ steps.git-diff-check.outputs.changes-2020 }}
      changes-2021: ${{ steps.git-diff-check.outputs.changes-2021 }}
      changes-2022: ${{ steps.git-diff-check.outputs.changes-2022 }}
      changes-2023: ${{ steps.git-diff-check.outputs.changes-2023 }}
      changes-2024: ${{ steps.git-diff-check.outputs.changes-2024 }}
      changes-2025: ${{ steps.git-diff-check.outputs.changes-2025 }}
      changes-ci: ${{ steps.git-diff-check.outputs.changes-ci }}
      changes-scripts: ${{ steps.git-diff-check.outputs.changes-scripts }}
      changes-vim: ${{ steps.git-diff-check.outputs.changes-vim }}
      changes-codyssi: ${{ steps.git-diff-check.outputs.changes-codyssi }}
      changes-i18n: ${{ steps.git-diff-check.outputs.changes-i18n }}
      changes-everybody-codes: ${{ steps.git-diff-check.outputs.changes-everybody-codes }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Check Git changes
        id: git-diff-check
        run: ./scripts/check-git-changes.sh ${{ github.sha }}

  test-solutions:
    runs-on: ubuntu-latest
    container: ghcr.io/yogan/yogans-advent-of-code:latest

    needs: check-changes
    if: ${{ github.event.schedule || needs.check-changes.outputs.any-changes != '0' }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Shellcheck'
            target: 'shellcheck'
            command: './scripts/shellcheck.sh'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2015'
            target: '2015'
            command: './scripts/test-days.sh 2015'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2015 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2016'
            target: '2016'
            command: './scripts/test-days.sh 2016'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2016 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2017'
            target: '2017'
            command: './scripts/test-days.sh 2017'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2017 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2020'
            target: '2020'
            command: './2020-rust/test-ci.sh'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2020 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2021'
            target: '2021'
            command: './2021-python/test-ci.sh'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2021 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2022'
            target: '2022'
            command: './scripts/test-days.sh 2022'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2022 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2023'
            target: '2023'
            command: './scripts/test-days.sh 2023'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2023 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2024'
            target: '2024'
            command: './scripts/test-days.sh 2024'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2024 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: '2025'
            target: '2025'
            command: './scripts/test-days.sh 2025'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-2025 != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: 'Vim'
            target: 'vim'
            command: './scripts/test-vim.sh'
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-vim != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: 'Codyssi'
            target: 'codyssi'
            command: "./scripts/test-days.sh 'codyssi/2025'"
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-codyssi != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: 'i18n puzzles'
            target: 'i18n'
            command: "./scripts/test-days.sh 'i18n-puzzles/2025'"
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-i18n != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

          - name: 'Everybody Codes'
            target: 'everybody-codes'
            command: "./scripts/test-days.sh 'everybody-codes/2025'"
            condition: ${{ github.event.schedule || needs.check-changes.outputs.changes-everybody-codes != '0' || needs.check-changes.outputs.changes-ci != '0' || needs.check-changes.outputs.changes-scripts != '0' }}

    env:
      AOC_SESSION: ${{ secrets.AOC_SESSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Mark workspace as safe for git clean
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Increase disk space by deleting unnecessary stuff
        run: |
          df -h | grep root | awk '{print $4}'
          rm -rf /__t/CodeQL /__t/Python /__t/PyPy /__t/node /__t/go /__t/Ruby
          df -h | grep root | awk '{print $4}'

      - name: Prepare Haskell environment
        run: ./scripts/haskell-prepare.sh

      - name: Run ${{ matrix.name }}
        if: ${{ matrix.condition }}
        run: ${{ matrix.command }}
